In [11]:
import pandas as pd
import numpy as np


train_df = pd.read_csv(r'DataFiles\train.csv')
test_df = pd.read_csv(r'DataFiles\test.csv')

#replace gener with 1 for 0
train_df['gender'] = train_df['gender'].str.lower().map({'m': 1, 'f': 0})
test_df['gender'] = test_df['gender'].str.lower().map({'m': 1, 'f': 0})

#replace jaundice with 1 for 0
train_df['jaundice'] = train_df['jaundice'].str.lower().map({'yes': 1, 'no': 0})
test_df['jaundice'] = test_df['jaundice'].str.lower().map({'yes': 1, 'no': 0})

#typo?
#replace austim with 1 for 0
train_df.rename(columns={'austim': 'autism'}, inplace=True)
test_df.rename(columns={'austim': 'autism'}, inplace=True)

train_df['autism'] = train_df['autism'].str.lower().map({'yes': 1, 'no': 0})
test_df['autism'] = test_df['autism'].str.lower().map({'yes': 1, 'no': 0})

#replace used_app_before with 1 for 0
train_df['used_app_before'] = train_df['used_app_before'].str.lower().map({'yes': 1, 'no': 0})
test_df['used_app_before'] = test_df['used_app_before'].str.lower().map({'yes': 1, 'no': 0})

#replace relation with 1,2,3,4
#Self = 1,
#Parent = 2,
#Relative = 3,
#Health Care Professional = 4,
#Others = 4,
train_df['relation'] = train_df['relation'].str.lower().map({'self': 1, 'parent': 2, 'relative': 3, 'health care professional': 4, 'others': 5})
test_df['relation'] = test_df['relation'].str.lower().map({'self': 1, 'parent': 2, 'relative': 3, 'health care professional': 4, 'others': 5})

#replace ethnicity with 1,2,3,4,5
train_df['ethnicity'] = train_df['ethnicity'].astype('category')
test_df['ethnicity'] = test_df['ethnicity'].astype('category')

# Save the mapping
ethnicity_categories = train_df['ethnicity'].cat.categories

# Convert to numeric codes
train_df['ethnicity'] = train_df['ethnicity'].cat.codes
test_df['ethnicity'] = test_df['ethnicity'].cat.codes

# Print the mapping
# for i, eth in enumerate(ethnicity_categories):
#     print(f"{eth} → {i}")

#replace country code with 1,2,3,4,5
train_df.rename(columns={'contry_of_res': 'country_of_res'}, inplace=True)
test_df.rename(columns={'contry_of_res': 'country_of_res'}, inplace=True)

# Convert 'country_of_res' to categorical type
train_df['country_of_res'] = train_df['country_of_res'].astype('category')
test_df['country_of_res'] = test_df['country_of_res'].astype('category')

# Get the categories
country_categories = train_df['country_of_res'].cat.categories

# Convert 'country_of_res' to category codes
train_df['country_of_res'] = train_df['country_of_res'].cat.codes
test_df['country_of_res'] = test_df['country_of_res'].cat.codes

# Print the mapping
# for i, country in enumerate(country_categories):
#     print(f"{country} → {i}")


#drop id
train_df.drop(columns=['ID'], inplace=True)
test_df.drop(columns=['ID'], inplace=True)
#drop age desc
train_df.drop(columns=['age_desc'], inplace=True)
test_df.drop(columns=['age_desc'], inplace=True)
#drop used app before
train_df.drop(columns=['used_app_before'], inplace=True)
test_df.drop(columns=['used_app_before'], inplace=True)



#train_df.info()
test_df.head()
#train_df.head()
#train_df.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jaundice,autism,country_of_res,result,relation
0,1,1,0,0,1,1,0,0,1,1,15.599481,1,10,1,0,14,12.399055,1.0
1,1,0,0,0,0,0,0,1,0,0,27.181099,1,1,0,0,21,6.551598,1.0
2,1,1,1,0,1,1,0,1,1,1,31.643906,1,10,1,0,10,3.180663,1.0
3,0,0,0,0,0,0,0,0,0,0,25.369210,1,0,0,0,14,2.220766,1.0
4,0,0,0,1,0,0,0,0,0,0,9.078580,1,0,0,0,17,7.252028,1.0